alabaster==0.7.10
Babel==2.5.3
certifi==2017.11.5
chardet==3.0.4
cheroot==6.0.0
CherryPy==13.1.0
docutils==0.14
idna==2.6
imagesize==0.7.1
Jinja2==2.10
lxml==4.1.1
MarkupSafe==1.0
more-itertools==4.0.1
pyzmq==16.0.3
-e git+http://gitlab.davepedu.com/dave/pymsgbus.git@2a5639a28bdf483098e1be73fb382e4e745803f5#egg=msgbus
portend==2.2
praw==5.3.0
prawcore==0.13.0
Pygments==2.2.0
PyJWT==1.5.3
PyMySQL==0.8.0
PySocks==1.6.8
-e git+https://github.com/jgarzik/python-bitcoinrpc.git@76ced424dc16f997365265487487056e653238c6#egg=python_bitcoinrpc
pytz==2017.3
releases==1.4.0
requests==2.18.4
semantic-version==2.6.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.6
sphinxcontrib-websupport==1.0.1
tempora==1.10
twilio==6.9.0
update-checker==0.16
urllib3==1.22
