backports.functools-lru-cache==1.5
certifi==2018.4.16
chardet==3.0.4
cheroot==6.2.4
CherryPy==14.2.0
idna==2.6
lxml==4.3.1
more-itertools==4.1.0
-e git+http://git.davepedu.com/dave/pymsgbus.git@373a9c5f153078fce57bde43f493785859f51de4#egg=msgbus
portend==2.2
praw==5.4.0
prawcore==0.14.0
PyJWT==1.6.1
PyMySQL==0.8.0
PySocks==1.6.8
-e git+https://github.com/jgarzik/python-bitcoinrpc.git@76ced424dc16f997365265487487056e653238c6#egg=python_bitcoinrpc
pytz==2018.4
pyzmq==17.0.0
requests==2.18.4
six==1.11.0
tempora==1.11
twilio==6.12.1
update-checker==0.16
urllib3==1.24.2
